[LOGGING]
log_file = unifi_client_listener.log
# log_level = DEBUG
# log_to_console = True

[UNIFI_CONTROLLER]
ip = 192.168.0.10
# port = 8443
creds_file = /home/myname/.unifi-events-listener/.unificreds
# ssl_verify = False

[EVENTS]
user_event_list = [
        {
            "friendly_name": "iPhone-Bassie",
            "event_user": "<mac address>",
            "event_action_list": [{
                    "event_key": "EVT_WU_Connected",
                    "url_to_call": "<url to call>"
                }, {
                    "event_key": "EVT_WU_Disconnected",
                    "url_to_call": "<url to call>"
                }
            ]
        },
        {
            "friendly_name": "iPhone-Adriaan",
            "event_user": "<mac address>",
            "event_action_list": [{
                    "event_key": "EVT_WU_Connected",
                    "url_to_call": "<url to call>"
                }, {
                    "event_key": "EVT_WU_Disconnected",
                    "url_to_call": "<url to call>"
                }
            ]
        }
    ]
# For debugging purpuse
# send_to_server = False
